
body {
  margin: 0;
}

.photo-gallery {
  margin: auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 1.6em;
  padding: 20px;
  margin-top: 20px;
}

.photo-gallery a {
  width: 215px;
}
#search {
  margin: auto;
  display: flex;
  border-radius: 3px;
  border-color: lightgray;
  background-color: #fff;
  width: 45%;
  height: 35px;
  padding: 10px;
  position: relative;
}
